#wrapper
  #selected
    %img( class="thumb" src="images/raw/#{@fname}")
    %a( href="/" ) Go Back
  #bg
    - @bg_images.each do |i|
      %a( href="finish?fname=#{@fname}&bgname=#{i}")
        %img( class="bg" src="images/bg/#{i}")
