!!!
%html
  %head
    %title (╯°□°）╯︵ ┻━┻
    %link(rel="stylesheet" href="/css/main.css")
    //%link(href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css')
    %script(type="text/javascript" src="/javascript/jQuery.min.js")
    %script(type="text/javascript" src="/javascript/main.js")

  %body
    = yield

